.main {
	margin-left: 15%;
	width: 65%;
}

.avatar {
	width: 50%;
}

.center {
	margin-left: 25%;
}

.icon-center {
	position: relative;
	right: -38%;
	width: 300px;
}

.half {
	width: 45%;
	display: inline-table;
}

h2, h3, h4 {
	color: rgb(13,71,161);
}

a:link {
	text-decoration: none;
}

.white {
	color: white;
}

li {
	list-style-type: square;
}

md-card {
	min-width: 710px;
}
