.item {
  width: 296px;
  background-color: #9CC9DE;
  padding-left: 4px;
  padding-top: 4px;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.avatar {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.photo {
  max-width: 292px;
  max-height: auto;
}

#container, h1, .info {
  margin-left: 50px;
}

.itemWithInformation {
  text-align: center;
  font-size: 21px;
  width: 1000px;
  height: 496px;
  background-color: #9CC9DE;
  padding-left: 4px;
  padding-top: 4px;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.photoWithInformation {
  max-width: 492px;
  max-height: auto;
}